#!/bin/sh

# clean build
cd ios

APP_NAME='__PROJECT_NAME__'
BUILD_DIR='./build'
BUILD_TARGET='Debug' # or Release

xcodebuild clean build -scheme $APP_NAME CONFIGURATION_BUILD_DIR=$BUILD_DIR -configuration $BUILD_DIR

cd -

# deploy to ios device
ios-deploy --bundle ios/build/$APP_NAME.app
